<% include partials/_header %>

        <div class="col-md-5 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="/edit/<%= task._id %>"method="POST">
                            <div class="form-group">              
                                <select type="text" name="sistema" placeholder="Sistema Operativo" class="form-control">
                                        <%= 
                                        task.title %>
                                        <option value="Windows">Microsoft Windows</option>
                                        <option value="Linux">Distro de Linux</option>
                                        <option value="MacOS">MacOS</option>
                                        <option value="Otro">Otro</option>
                                      </select>
                            </div>
                            <div class="form-group">
                                <select type="text" name="lenguaje" placeholder="Lenguaje de programacion" class="form-control">
                                        <%= task.description %>
                                        <option value="C">C</option>
                                        <option value="C++">C++</option>
                                        <option value="C#">C#</option>
                                        <option value="Java">Java</option>
                                        <option value="JavaScript">JavaScript</option>
                                        <option value="Python">Python</option>
                                        <option value="Ruby">Ruby</option>
                                        <option value="Otro">Otro</option>
                                      </select>
                            </div>
                            <div class="form-group">
                                    <select type="text" name="titulo" placeholder="Tipo" class="form-control">
                                            <option value="Nativa">Nativa</option>
                                            <option value="Hibrida">Hibrida</option>
                                            <option value="Multiplataforma">Multiplataforma</option>
                                          </select>
                                </div>
                            <div class="form-group">
                                    <input type="text" name="nombre" placeholder="Nombre" class="form-control">                 
                                </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                    Actualizar
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        <% include partials/_footer %>